/* .navbarNav {
    list-style-type: none;
    display: flex; 
    justify-content: space-around;
    width: 300px; 
} */

.card-body{
    height: 136px;
}

#about-me {
    max-width: 751px;
}

.btn {
  color: brown;
    box-shadow: 10px 10px;
}

.btn ::after {
    color: brown;
      box-shadow: 10px 10px;
  }